[**@ats/kms-enclave v0.0.0**](../../README.md)

***

[@ats/kms-enclave](../../README.md) / [types](../README.md) / VerificationResult

# Interface: VerificationResult

Defined in: [types.ts:354](https://github.com/your-org/ats-kms/blob/main/src/v2/types.ts#L354)

## Properties

### errors

> **errors**: `string`[]

Defined in: [types.ts:357](https://github.com/your-org/ats-kms/blob/main/src/v2/types.ts#L357)

***

### valid

> **valid**: `boolean`

Defined in: [types.ts:355](https://github.com/your-org/ats-kms/blob/main/src/v2/types.ts#L355)

***

### verified

> **verified**: `number`

Defined in: [types.ts:356](https://github.com/your-org/ats-kms/blob/main/src/v2/types.ts#L356)
